<h1>管理</h1>
<ul>
  <li><a href="/categories/">品目管理</a></li>
  <li><a href="/categories/">物品管理</a></li>
  <li><a href="/go_downs/">仓库管理</a></li>
  <li><a href="/batches/">生产流水管理</a></li>
  <li><a href="#">订单</a></li>
  <li><a href="#">库存查询</a></li>
</ul>







