<h5 class="widget-name"><i class="fa fa-list"></i>出入账列表</h5>
<div class="navbar">
  <div class="navbar-inner">
    <h6>出入账列表</h6>
    <%= link_to '新建出入账', new_info_customer_fin_dtl_path, :class => 'btn btn-info pull-right' %>
  </div>
</div>
<%= render 'index' %>
