<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="right-content span3">
    <div class="nav">
      <div class="navbar-inner"><h6>新建用户</h6></div>
    </div>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Hashed password:</strong>
      <%= @user.hashed_password %>
    </p>

    <p>
      <strong>Salt:</strong>
      <%= @user.salt %>
    </p>

  </div>
</div>
</div>