<div class="row-fluid">
  <div class="right-content span4">
    <div class="nav">
      <div class="navbar-inner"><h6>新建仓库</h6></div>
    </div>
    <div class="well-white body">
      <%= render 'form' %>
    </div>
  </div>
</div>