<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @item_out_order.id %>
</p>

<%= link_to 'Edit', edit_item_out_order_path(@item_out_order) %> |
<%= link_to 'Back', item_out_orders_path %>
