<div class="right-content">
  <div class="nav">
    <div class="navbar-inner"><h6>入库单列表</h6></div>
  </div>
  <div class="well-white body">
    <table class="table">
      <tr>
        <th>入库单编号</th>
        <th>仓库</th>
        <th>状态</th>
      </tr>
      <% InOrder.where(:State => "新建").each do |inorder| %>
          <tr>
            <td><%= inorder.InOrderId %></td>
            <td><%= GoDown.find(inorder.GoDown_id).Name %></td>
            <td>
              <% if inorder.State == "新建" %>
                  <a class="btn btn-success" href="/in_orders/exec/<%= inorder.id %>">执行入库</a>
              <% else %>
                  <%= inorder.State %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

