<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="right-content span6">
    <div class="nav">
      <div class="navbar-inner"><h6>流水号</h6></div>
    </div>
    <div class="well-white body">
      <table class="table">
        <tr>
          <td>流水号:
          </td>
          <td>   <%= @batch.Batchid %>
          </td>
        </tr>
        <tr>
          <td>生产日期:
          </td>
          <td>   <%= @batch.Date %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>