<h1>新建订单项</h1>
<style>
    .xx{
        width: 800px;
    }
    .xx li{
        list-style-type:none;
        width: 400px;
        float: left;
    }
</style>
<%= render 'form' %>

<%= link_to '返回', sub_orders_path %>
