<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>GJD</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fixed top -->
<div id="top">
  <div class="fixed">
    <a href="index.html" title="" class="logo"><img src="/p/img/logo.png" alt=""/></a>
    <ul class="top-menu">
      <li><a class="fullview"></a></li>
      <li><a class="showmenu"></a></li>
      <li><a href="#" title="" class="messages"><i class="new-message"></i></a></li>
      <li class="dropdown">
        <a class="user-menu" data-toggle="dropdown"><img src="/p/img/userpic.png" alt=""/><span>Howdy, Eugene! <b class="caret"></b></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" title=""><i class="icon-user"></i>Profile</a></li>
          <li><a href="#" title=""><i class="icon-inbox"></i>Messages<span class="badge badge-info">9</span></a></li>
          <li><a href="#" title=""><i class="icon-cog"></i>Settings</a></li>
          <li><a href="#" title=""><i class="icon-remove"></i>Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /fixed top -->

<!-- Content container -->
<div id="container">
  <!-- Sidebar -->
  <div id="sidebar">

    <div class="sidebar-tabs">
      <ul class="tabs-nav two-items">
        <li><a href="#general" title=""><i class="icon-reorder"></i></a></li>
        <li><a href="#stuff" title=""><i class="icon-cogs"></i></a></li>
      </ul>

      <div id="general">

        <!-- Main navigation -->
        <ul class="navigation widget">
          <li class="active">
            <a href="/static_pages/home" title=""><i class="icon-home"></i>管家爹进销存</a>
          </li>
          <li>
            <a href="#" title="" class="expand"><i class="icon-reorder"></i>配置管理<strong>4</strong></a>
            <ul>
              <li><a href="/categories" title="">品目配置</a></li>
              <li><a href="/items" title="">物品配制</a></li>
              <li><a href="/go_downs" title="">仓库配置</a></li>
              <li><a href="/batches" title="">生产流水配置</a></li>
            </ul>
          </li>
          <li>
            <a href="#" title="" class="expand"><i class="icon-tasks"></i>订单管理<strong>2</strong></a>
            <ul>
              <li><a href="/orders/?type=1" title="">采购订单</a></li>
              <li><a href="/o_order/index" title="">销售订单</a></li>
            </ul>
          </li>
          <li>
            <a href="#" title="" class="expand"><i class="icon-tasks"></i>仓库管理<strong>2</strong></a>
            <ul>
              <li><a href="/in_orders" title="">入库</a></li>
              <li><a href="/out_orders" title="">出库</a></li>
              <li><a href="/go_down_items" title="">查询</a></li>
            </ul>
          </li>
        </ul>
        <!-- /main navigation -->
      </div>
    </div>

  </div>
  <!-- /sidebar -->
  <!-- Content -->
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
