<!DOCTYPE html>
<html>
<head>
  <title>GJD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>进销存</h1>
<hr/>
<div style="float: left;width:200px;">
  <h1>配置管理</h1>

  <ul>
    <li>  <a href="/categories/">品目配置</a></li>
    <li>  <a href="/items/">物品配制</a></li>
    <li>  <a href="/go_downs/">仓库配置</a></li>
    <li>  <a href="/batches/">生产流水配置</a></li>
  </ul>
  <h2>订单</h2>
  <ul>
    <li><a href="/orders/?type=1">采购订单</a></li>
    <li><a href="/o_order/index">销售订单</a></li>
  </ul>
  <h2>仓库</h2>
  <ul>
  <li><a href="/in_orders/">入库</a></li>
  <li><a href="/out_orders/">出库</a></li>
  <li><a href="/go_down_items/">查询</a></li></ul>
</div>
<div style="float: left;">
<%= yield %>
</div>
</body>
</html>
