<!DOCTYPE html>
<html>
<head>
  <link href="/assets/pannonia/main.css" media="all" rel="stylesheet">
  <%= javascript_include_tag :origin %>
  <%= csrf_meta_tags %>
  <title>汉铭潮品 - 登录</title>
</head>
<body class="login-body">
<%= yield %>
</div>
</body>
</html>